**/logger_*.txt
**/comm_measurement_*.txt
**/tmp_filelock_*.txt
**/data_*.npz
**/data_*.txt
**/data_*.png
**/data_*.a_bin
**/data_*.d_bin
**/__pycache__
**/densitystep_*.pickle
**/result_*.png
**/result_*.svg
**/result_*.txt
**/result_*.pickle
/obsolete/
.ipynb_checkpoints
todo/peter/tests/*
versuche/*
.vscode/.ropeproject/*
measurement-actual/logger_condense.txt
compact_measurements/*
hidden/
