s**/*.egg-info/**
**/__pycache__
**/logger_*.txt
**/comm_measurement_*.txt
**/tmp_filelock_*.txt
**/data_*.npz
**/data_*.txt
**/data_*.png
**/data_*.a_bin
**/data_*.d_bin
**/densitystep_*.pickle
**/result_*.png
**/result_*.svg
**/result_*.txt
**/result_*.pickle
**/*.bak
**/obsolete/
**/ausgeblendet_*
versuche/*
**/*.ipynb_checkpoints
todo/peter/tests/*
**/logger_condense.txt
**/logger_gui.txt
measurement_actual/logger_condense.txt
**/hidden/
venv/*
compact_measurements/**
