**/data_*.npz
**/data_*.txt
**/data_*.png
**/data_*.a_bin
**/data_*.d_bin
**/__pycache__
**/densitystep_*.pickle
**/result_*.py
**/result_*.png
**/result_*.svg
**/result_*.txt
**/result_*.pickle
/obsolete/
.ipynb_checkpoints
todo/peter/tests/*
